#para2{

    color: rgb(8, 204, 106);
}

#external
{
    font-size: 25px ;
    color: rgb(255, 50, 255);
}
#head
{
    font-weight: bold;
    font-size:50px;
    color: red;
    text-decoration: green solid underline;
}